:root{
    --cor01:#f08080;
    --cor02:#f4978e;
    --cor03:#f8ad9d;
    --cor04:#FBC4AB;
    --cor05:#FFDAB9;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
a.externo::after{
    content: '';
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    margin-bottom: 1px;
    border: 1px solid black;
    padding: 20px;
    background-color: purple;
    color: rgba(245, 215, 49, 0.884);
}
nav{
    background-color: #FFDAB9;
    border: 1px solid black;
    padding: 20px;
    
}
nav>a{
    justify-content: space-between;
    text-decoration: none;
    padding: 20px;
    
}
div{
    background-image: url(imagen/d651d183-8217-4d49-a157-070fd1f3b3c9.jpg);
    background-size: cover;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
#dm{
    padding: 10px 10px ;
    width: 600px;
    height: 500px;
    text-align: center;
}
body{
    background-color: #f5f5f5;
}