@font-face {
    /*fonte externa*/
    font-family: dancing;
    src: url('fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;

}
body{
    font-family: dancing,times,serif;
    font-size: 1.5em;
    background-color: bisque;
}
h1{
    font-family: dancing, Times, serif;
    font-size:;
}
p{
    font-family: dancing , Helvetica, sans-serif;
    font-size: 1em;
    text-indent: 40px;
    text-align: justify;
    font-weight: bolder;


}
.titulo{
    background-color: rgb(153, 150, 150);
    color:rgb(0, 0, 0);
    text-align: center;
}
.l{
    color: black;
    text-decoration: none;
}
.l:hover{
    color: blue;
}
.l::before{
    content: '♫  ';
   
}
.l::after{
    content:'   ♫' ;
   
}